<% comment do %>
    This is the New Postsß View for Posts.
<% commend end %>

<h1> This is the New View </h1>

<%= form_for(@post) do |f| %>
<p><%= f.text_field :title %></p>
<p><%= f.text_area :body %></p>
<%= f.submit %>
<% end %>